.home{
  background-image: url("/images/menu-3206749_960_720.jpg");
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -500px;
}


#nav>{
  color:whitesmoke;
}

h1{
  text-align: center;
  font-family: 'Squada One', cursive;
  padding-top: 190px;
  font-size: 150px;
  color:whitesmoke;
}
.str>h2{
  border:5px solid black;
}

h3{
  padding-top:10px;
}

.str>img{
  width:40%;
  padding-top: 15px;
}

.str>p{
  padding-top: 30px;
}

.str{
  text-align: center;
}