body{
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.home{
  background-image: url("/images/menu-3206749_960_720.jpg");
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -500px;
}


#nav>{
  color:whitesmoke;
}

.ord>h3{
 text-align: center;
}

.ord>p{
  padding-bottom: 100px;
  /* padding-left:11%; */
  font-size: 40px;
  
}
.ord>img{
  
  height: 90vh;
  width: 100%;
}
.ord{
  background-repeat: no-repeat;
  background-size: 30%;
  height: 50vh;
  margin-top: 40px;
}

h1{
  text-align: center;
  font-family: 'Squada One', cursive;
  padding-top: 190px;
  font-size: 150px;
  color:whitesmoke;
}
.str>h2{
  border:5px solid black;
}

h3{
  padding-top:30px;
}

.str>img{
  width:40%;
  padding-top: 15px;
}

.str>p{
  padding-top: 30px;
}

.str{
  text-align: center;
}
